<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <script src="https://unpkg.com/@popperjs/core@^2.0.0"></script>
    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/bootstrap-datepicker.js"></script>

</head>

<body>
    <p>Nueva migración</p>

    <a href="/">Volver</a>
</body>
</html>
